/backups/

/examibur/.checkstyle
/examibur/.settings
/examibur/.gradle
/examibur/.project
/examibur/.classpath
/examibur/webapps
/examibur/build
/examibur/bin
/examibur/screenshots
/examibur/geckodriver
/examibur/geckodriver.exe
/examibur/examibur.log
/examibur/jacoco/*.exec
