[Unit]
Description=Examibur Redeploy staging
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/opt/examibur/projekteserver/deploy/redeploy.sh

[Install]
WantedBy=multi-user.target
