[Unit]
Description=Backup all docker volumes on this server

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true     

[Install]
wantedBy=timers.target

