[Unit]
Description=Examibur Dev
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/local/bin/docker-compose -f /opt/examibur/projekteserver/docker-compose.yml kill
ExecStartPre=/usr/local/bin/docker-compose -f /opt/examibur/projekteserver/docker-compose.yml rm -f
ExecStartPre=/usr/local/bin/docker-compose -f /opt/examibur/projekteserver/docker-compose.yml pull
ExecStart=/usr/local/bin/docker-compose -f /opt/examibur/projekteserver/docker-compose.yml up --remove-orphans --force-recreate
ExecStop=/usr/local/bin/docker-compose -f /opt/examibur/projekteserver/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
